
<div class="container-fluid mt-5">
        <div class="row bg-dark text-white p-4" style="box-sizing: border-box;">
            <div class="col-12">
                <p>&copy;All Rights Reserved-2023</p>
            </div>
        </div>
</div>
</body>
</html>